
<ul id="navigation" class="govuk-header__navigation-list">
 <div class="row">
  <%= render Layout::AdminLoginItemsComponent.new(user) %>
  <%= render Layout::NotificationItemComponent.new(user) %>
  <%= render Layout::LoginItemsComponent.new(user) %>
 </div>
 <div class="row">
  <%= render Layout::SubnavigationComponent.new %>        
  </div>
</ul>
