.cookies-eu {
  font-size: small;
  padding: 5px 0;
  line-height: normal;
  text-align: center;
}
.cookies-eu-ok {
  background-color: $brand !important;
  color: $light;
  margin: 5px 0;
  padding: 5px;
}
.cookies-eu-link {
   color: $brand;     
}
