.govuk-header__menu-button {
  display: block;
}

@media only screen and (min-width: 768px) {
    .large-right {
       float: right !important;
    }
 }

 @media only screen and (min-width: 768px) {
    .hide-large {
       display: none !important;
    }
 }

 @media only screen and (max-width: 768px) {
    .show-large {
       display: none !important;
    }
 }

 .top-bar {
   @extend .govuk-header;
   ul{
      li {
         @extend .govuk-header__navigation-item;
         a {
            @extend .govuk-header__link;
         }
      }
   }
 }
 .govuk-header__container {

 ul > ul {
 
      li {
         @extend .govuk-header__navigation-item;
         a {
            @extend .govuk-header__link;
         }
      }
   }
 }


 .admin-sidebar {
   background: black !important;
   ul {
     @extend .govuk-accordion;
     li {
       @extend .govuk-accordion__section;
     }
     a {
       @extend .govuk-accordion__section-button;
       color: white !important;
     }
   }
 }
 


