.govuk-notification-banner__heading{
    font-weight: normal !important;
    font-size: normal!important;
}

.close-button{
top: 0!important;
right: 0!important;
}

.govuk-notification-banner{
    max-width: 600px;
}