.advanced-search{
    @extend .govuk-button;
    @extend .govuk-button;
    @extend .govuk-button--secondary;
    margin-bottom: 5px;
    
}
.govuk-search{
    margin-bottom: 5px;

}
.search-form-header{

    form {
      
             
        [type]:not([type="button"], [type=checkbox], [type=file], [type=radio]) {
          margin-bottom: 0;
          height: 40px;

         
      
}
    }
}