<% flash.each do |flash_key, flash_message| %>
  <div id="<%= flash_key %>" data-alert class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-closable>
    <div class="govuk-notification-banner__content <%= flash_key %>">
      <div class="govuk-notification-banner__heading" style="position: relative">
        <%= sanitize(flash_message) %>
        <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>
